img {
  width: 100%;
}

.navbar {
  background-color: #e3f2fd;
}
.fa.fa-edit {
  color: #18a2b9;
}

.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: pink;
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.special-nav {
  background-color: #141d2b;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 7vw;
  padding-right: 7vw;
}

.navbar-logo {
  align-self: center;
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: 700;
}

.navbar-logo:hover {
  color: aqua;
}

.mainPhoneContainer {
  display: flex;
  justify-content: center;
  min-height: 90vh;
}

.firstPhoneContainer {
  background-color: #c7d9e8;
  border-radius: 30px;
  width: 70%;
  height: 80vh;
  align-self: flex-start;

  display: flex;
  flex-direction: row;
}

.phoneName {
  color: black;
  font-size: x-large;
  font-weight: 700;

  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.phoneImageContainer {
  position: relative;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10%;
}

.buyNowButton {
  width: 56%;
  height: 10%;
  background-color: cornflowerblue;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img-class {
  height: auto;
  /* max-height: 70%; */
  width: auto;
  /* max-width: 70%; */
  border-radius: 15px;
}

.mainCheckoutContainer {
  width: 100%;
  height: 100vh;
}
